*{
    padding: 0;
    margin: 0;
}

.menu{
    width: 100%;
    height: 9vh;
    background-color: #1d1d1d;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.menu img:hover{
    opacity: 0.7;
    transition: .3s;
}

.menu .botao{
    text-decoration: none;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 20px;
}

.menu .botao:hover{
    background-color: rgba(240, 248, 255, 0.200);
    transition: .3s;
}

.container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 50px 0 50px 50px;
}

.images{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.images img{
    width: 100%;
    object-fit: cover;
}